@import url('https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap');
body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
  
}
header{
    background-image: url(image/Layer1.png);
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 500px;
    
}
.titreS{
    font-family: 'Open Sans', sans-serif;

}
a{
    text-decoration: none;
}
header .logos{
    height: 50px;
    margin-top: 10px;
    margin-left: 10px;
}
header nav{
    float: right;
    margin-top: 11px;
    margin-right: 6px;
}
header nav ul li img{
    display: none;
}

header nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li{
    list-style: none;
}

header nav ul li a{
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    font-family: 'Open Sans regular', sans-serif;
}

.menu-toggle{
    color: #000;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}
.fa-bars{
    display: none;
    color: white;
    MARGIN-RIGHT: 11px;
}

#check{
    display: none;
}
label .fa-times{
display: none;
}
.para{
    color: white;
    font-size: 40px;
    margin-top: 20px;
    padding: 20px;
    margin-left: 60px;
    font-family: 'Open Sans', sans-serif;
}
.para2{
    color: white;
    font-size: 20px;
    margin-left: 80px;
    font-family: 'Raleway', sans-serif;
}
.explore{
    height: 30px;
    width: 120px;
    border-radius: 30px;
    margin-top: 70px;
    margin-left: 90px;
    padding-left: 10px;
    border: 0px;
    font-family: 'Raleway', sans-serif;
}
.gra{
    font-weight: bold;
}
.pet{
    color: lightgray;
}
.section1{
    overflow: hidden;
    width: 100%;
}

.section1 .imageS1 {
    position: relative;
     display: flex;
    
    height: 100%;
  margin-left: 164px;
  margin-top: 0px;
  animation: 10s slide infinite ;
}


@keyframes slide{
    0% {
        left: 0%;
      }
     25%{
         left: -14%;
     }
     50%{
         left: -28%;
     }
     60%{
        left: -42%;
    }
}

.btn button{
    height: 30px;
    width: 30px;
    position: relative;
    left: 130px;
    top: 170px;
    background-color: #688095;
    border: 0px;
}
.section2{
    background-image: url(image/burj.jpg);
    flex-basis: 100%;
    background-position: center;
   background-size: cover;
    height: 400px;
    margin-top: 150px;
}
.sec3{
    margin-left: 20%;
    margin-top: -35%;
    
    background-color: #E2EAF0;
    height: 400px;
    flex-basis: 60%;
}
.sec3 img{
    float: left;
    height: 400px;
}
h3{
    float: left;
    margin-left: 150px;
}
.para4{
    margin-top: 90px;
    padding: 5px;
    font-family: 'Raleway', sans-serif;
    margin-left: 284px;
    
}
.sec3 .groupImg .Gimj{
    width: 15%;
    height: 100px;
    position: relative;
    left: 16%;
    top: 50px;
    padding-left: 5px;
}
.btn2 button{
    height: 30px;
    width: 30px;
    position: relative;
  left: -51%;
    top: 150px;
    background-color: #688095;
    border: 0px;
}
.section3{
    flex-basis: 100%;
   
}
.section4{
    margin-left: 130px;
    flex-basis: 100%;
}
.imgM2{
    height: 300px;
}
.gal1{
    width: 250px;
    height: 300px;

    }
    .gal2{
        width: 250px;
        height: 300px;
   
    }
    .gal3{
        width: 250px;
        height:600px;
        position: relative;
        top: 300px;

  
    }
    .gal4{
        width: 250px;
        height: 300px;
        
       

    }
    .gal5{
        width: 250px;
        height: 295px;
        position: relative;
        top: -5px;
  
    }
    .gal6{
        width: 250px;
        height: 295px;
        position: relative;
        top: -5px;
    
    }
    .gal7{
        width: 250px;
        height: 300px;
        position: relative;
        top: 300px;
        
      
        
    
    }
    .gal8{
        width: 250px;
        height: 300px;
        position: relative;
        top: -5px;
        
        
    }
    .gal9{
        width: 250px;
        height: 300px;
        position: relative;
        top: -5px;
    
        
    }
    .gal10{
        width: 250px;
        height: 296px;
        position: relative;
        top: -5px;
    }
    .gal11{
        width: 250px;
        height: 300px;
        position: relative;
        left: 22.3%;
        top: -5px;
    }
    .section4{
        margin-top: -250px;
    }
    .section4 h4{
        
          margin-left: 400px;
     }
     .section4 .para6{
        
        margin-left: 400px;
     
        padding: 10px;
     }
  

     .section5 h4{
        font-family: 'Open Sans', sans-serif;
        margin-left: 600px;
   }
   .section5 .para6{
      
      margin-left: 400px;
      
      padding: 10px;
   }
   .section5 .iframe{
    position: relative;
     display: flex;
    width: 100%;
    height: 100%;
  
  animation: 10s slider infinite ;
}

@keyframes slider{
    0% {
        left: 0%;
      }
     25%{
         left: -25%;
     }
     40%{
         left: -50%;
     }
}
   .section6{
       margin-top: 90px;
   }
   .section6 h1{
       margin-top: -130px;
       margin-left: 500px;
       color: white;
   }
   .section6 .input{
    margin-left: 500px;
    width: 20%;
    height: 40px;
    border-radius: 5px;
    border: 0px;
   }
   .section6 button{
       height: 40px;
       background-color: #C49D48;
       color: white;
       border-radius: 5px;
       border: 0px;
       margin-left: 10px;
       width: 130px;
       
   }
   .section7{
       flex-basis: 100%;
       
   }
   .section7 .imgL{
       margin-top: 100px;
       margin-left: 200px;
   }
   .div1{
float: left;
width: 33.33%;

   }
   .section7 p{
    width: 250px;
    margin-left: 200px;
    color: #688095;
    font-family: 'Open Sans Condensed', sans-serif;
    position: relative;
    bottom: 20%;
}
   .div2{
float: left;
width: 33.33%;
margin-left: 190px;
margin-top: -20px;
color: #AAA9A9;
   }
   .fa-arrow-right{
       color:#688095;
       font-size: 10px;
   }
   .section7 h1{
    position: relative;
    top: 130px; 
   }
.section7 ul{
 margin-top: 140px;
 margin-left: -37px;
 POSITION: relative;
 Z-INDEX: 11;
 
}
.section7 ul li{
 list-style: none;

}
.section7 ul li a{
 color:#000;
 font-family: 'Open Sans Condensed', sans-serif;
 
}
   
   .section7 h2{
    position: relative;
    top: 130px; 
}
   .section7 .div3 div{
    margin-top: 140px;
    
    
    
   }
   .footer{
       margin-top: 90px;
       background-color: #688095;
       flex-basis: 100%;
       height: 30px; 
       text-align: center;
   }
   .footer span{
       color:white; 
       font-family: 'Open Sans Condensed', sans-serif;
   }
   .footer .S1{
    float: left;
    padding-left: 180px;
    margin-top: 5px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
       }
  
   #check,.header label img{
display: none;
   }
   .section5 iframe{
       margin-left: 13px;
   }
   #show{
       display: none;
   }
   .imglogo{
       display: none;
   }
   label i{
       display: none;
   }
   @media screen and (max-width:700px){
       .header{
           width: 100%;
       }
       .imageS1{
           margin-left: 100px;
    }
    .imgs{
        width: 90px;
        height: 200px;
    }
    .section1 .imageS1{
        position: relative;
         display: flex;
        margin-left: 206px;
       
      
      margin-top: -0px;
      animation: 10s slide infinite ;
    }
   
    
   
    .btn button{
        height: 30px;
        width: 30px;
        position: relative;
        left: 10px;
        top: -10px;
        top: 20px;
        background-color: #688095;
        border: 0px;
    }
    .sec3{
      
        
        margin-left: 0px;
        position: absolute;
       top: 850px;
        
        
    }
    .section2{
        height: 500px;
        margin-top: -100px;
    }
  
    .sec3 .groupImg .Gimj{
        width: 18%;
        height: 90px;
        position: relative;
        left: 6%;
        top: -10px;
        padding-left: 5px;
    }
    .btn2 button{
        height: 15px;
        width: 15px;
        position: relative;
    left: -173px;
    top: 100px;
       
        background-color: #688095;
        border: 0px;
    }
    .section3{
        flex-basis: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .imgM{
        height: 300px;
        width: 50%;
        display: block;
        margin-top: 60px;   
    }
    .imgM2{
        width: 50%;
        margin-top: 60px;
    }
    .section4{
        margin-top: -1200px;
    }
    .section4 h4,.para6{
        margin-left: 100px;
    }
    .section4 .para6{
        margin-left: 100px;
    }
    .section5 h4{
        
        margin-left: 170px;
        width: 100%;
   }
   .section5 .para6{
      
      margin-left: 100px;
      
      padding: 10px;
   }
   .section5 iframe{
       margin-left: 100px;
   }
   .section5 .iframe{
    position: relative;
     display: flex;
    
    width: 100%;
  
  animation: 16s slider infinite ;
}
@keyframes slider{
    0% {
        left: 0%;
      }
     20%{
         left: -85%;
     }
     30%{
        left: -170%;
        transition: 2s all;
    }
    40%{
        left: -255%;
        transition: 2s all;
    }
    50%{
        left: -340%;
    }
    60%{
        left: -425%;
    }
   
}
   .section6 {
       flex-basis: 100%;
   }
   .section6 h1{
       margin-left: 40px;
   }
   .section6 .input{
       margin-left: 40px;
       width: 50%;
   }
   .section6 button{
       width: 30%;
   }
   .section7{
       overflow: hidden;
   }
.div1{
width: 100%;
margin-left: 0px;
position: relative;
right: 140px;

}
.div2{
width: 40%;
position: relative;
right: 27%;
margin-top: -100px;

}

.div3 h2{
position: relative;
top: 84px; 
right: 10%;

}

.div3 div{
    position: relative;
    top: 0px;   
    top: -40px;
    right: 10%;
    width: 570px;
    
    
}
.div3 p{
    position: relative;
    bottom: 50px;
    left: 134px;
    font-size: 13px;
}
 .div3 p span{
     display: block;
     font-size: 13px;  
 }
.div3 p{
   
}   
.footer{
width: 100%;


    }
    .footer .S1{
        margin-top: 5px;
        font-size: 15px;
        color: white;
        width: 300px;
       position: relative;
       right: 400px;
           }
      
      .header label i{
          position: relative;
          cursor: pointer;
        display: block;
        float: right;
        margin-top: 35px;
        margin-right: 13px;
        color: white;
        
        
           }
           
           .menu-toggle{
            display: block;
        }
        #check{
            display: none;
        }
        .fa-times{
            color: white;
            margin-left: 440px;
            font-size: 40px;
        }
        header nav{
            position: absolute;
            width: 100%;
            background: #000;
            height: calc(100vh - 50px);
            top: -9px;
            left: 1000px;
            line-height: normal;
            transition: 0.7s ;     
            padding: 0px 0;   
            z-index: 1;
        }
    
    #check:checked + nav{
        left: 30px;
    }
    
    header nav ul li img{
        margin-top: -30px;
        display: block;
    }
        header nav ul{
            display: block;
            margin-top: 10px;
           margin-left: 40px;
        }
         label .fa-times{
            display: block;
            position: relative;
            top:30px;
            right: 12%;
            font-size: 30px;
            cursor: pointer;
    
        }
        header nav ul li a{
            color: white;
            margin-left: 10px;
        }
       
        .logos{
           margin-top: 0px;
        }
        .menu-toggle{
            margin-top: 10px;
            margin-right: 3px;
        }
        .logo{
            padding: 15px;
        }
        .para{
            color: white;
            font-size: 30px;
            margin-top:  83px;
            padding: 20px;
            margin-left: 20px;
        }
        .para2{
            color: white;
            font-size: 18px;
            margin-left: 40px;
        }
        .explore{
            height: 30px;
            width: 120px;
            border-radius: 30px;
            margin-top: 10px;
            margin-left: 40px;
            padding-left: 10px;
            border: 0px;
        }
        
        .gal1{
            width: 250px;
            height: 300px;
            margin-top: 1000px;
            position: relative;
            top: 7.5%;
            }
            .gal2{
                width: 250px;
                height: 300px;
                position: relative;
                top: 7.5%;
            }
            .gal3{
                width: 250px;
                height:400px;
                position: relative;
                top: 362px;
          
            }
            .gal4{
                width: 250px;
                height: 300px;
                position: relative;
                top: 364px;
               
        
            }
            .gal5{
                width: 250px;
                height: 295px;
                margin-top: 370px;
          
            }
            .gal6{
                width: 250px;
                height: 295px;
                
            
            }
            .gal7{
                width: 250px;
                height: 300px;
               
            }
            .gal8{
                width: 250px;
                height: 300px;
                
                
            }
            .gal9{
                width: 250px;
                height: 300px;
            
                
            }
            .gal10{
                width: 250px;
                height: 300px;
                position: relative;
                top: -308px;
            }
            .gal11{
                width: 250px;
                height: 300px;
                position: relative;
                left: -1px;
            }
            .section1{
                overflow: hidden;
                width: 100%;
            }
            
            .section1 .imageS1 {
                position: relative;
                 display: flex;
                height: 100%;
              margin-left: 170px;
              margin-top: 0px;
              animation: 10s slide infinite ;
            }
          
           
           
}